[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "public"]
	path = public
	url = http://github.com/dyrandy/dyrandy.github.io.git
	branch = main
